.image {
    border: solid 10px  #ffec1c;
object-fit: cover;
height:260px;

}
.cardsize
{ min-height: 365px;
    max-height: 450px;
    min-width: 220px;
    max-width: 250px;
 }

@media (max-width: 576px) {
     .image { height: 200px; /* Adjust the height for smaller screens */ } }



@media (max-width: 576px) {
     .cardsize { min-height: 350px; }}
