.logo{
    border-radius: 50%;
    width: 25%;
    height: auto;
}

.logo:hover{
    cursor: pointer;
}

.links{
    font-family: 'Coda', serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: white;
    display: flex;
}

.links:hover{
    cursor: pointer;
}
